[submodule "qwebdavlib"]
	path = qwebdavlib
	url = https://github.com/Michal-Szczepaniak/qwebdavlib
[submodule "libqofonoext"]
	path = libqofonoext
	url = git@github.com:Michal-Szczepaniak/libqofonoext.git
[submodule "qtmpris"]
	path = qtmpris
	url = git@github.com:Michal-Szczepaniak/qtmpris.git
[submodule "qtdbusextended"]
	path = qtdbusextended
	url = git@github.com:Michal-Szczepaniak/qtdbusextended.git
[submodule "smpc"]
	path = smpc
	url = https://github.com/Michal-Szczepaniak/smpc
[submodule "QJsonRPC"]
	path = QJsonRPC
	url = https://github.com/Targoman/QJsonRPC
